
body, h1,h2,h3,p{
	margin:0;
	padding: 0;
}

body {
	background-color: #F5F5F5;
}


/*Table design*/

td{
	text-align: right;
	padding-right: 10px;
}

h3{
	margin-bottom: 10px;
}

.not-mounth-day{
    color : grey;
}

/* positioning*/

.flex-h{
	display:flex;
}


.solid{
	border : solid 1px;
}

.center{
	text-align: center;
}

.flex-center{
	justify-content: center;
}

.calendar-nav{
	display: flex;
	justify-content: space-between;
	padding: 5px 10px;
}
.right-date{
	display: flex;
	flex-direction:column;
	justify-content:center;
}
.find-date{
	width: 100%;
	margin-top: 20px;
}

#find-date-title{
	margin-bottom: 10px;
}
/*Sizing*/

.padding-h{
	padding: 0 20px;
}

.calendar-container{
	width: 580px;
	min-height: 230px;	
	
	margin: auto;
	margin-top: 40px;
	padding: 30px 18px 30px 20px;
    justify-content :center;

	background-color: #FAFAFA;
	border-radius: 5px;
	box-shadow: 2px 4px 8px #808080;
}

.table{
	margin-top: 10px;
}

input{
	width: 80px;
}

#title{
	letter-spacing: 2px;
	margin-bottom: 20px;
	font-family: sans-serif;
}

#submit{
	width: 100%;
	height: 30px;
}

#input-mounth{
	width: 56px;
	margin-bottom: 5px;
}

#input-year{
	width: auto;
	margin-bottom: 5px;
	margin-left: 4px;
}